<%
	// var create_or_edit = GeneralService.createOrEdit(req.url);
	var create_or_edit = 'Create';
	var currency = 'INR';
%>
<div class="ui container">
	<div class="ui grid">
		<div class='four wide tablet computer only column'></div>
		<div class='eight wide table eight wide computer sixteen wide mobile column'>
			<h2 class="ui horizontal divider header">
				<!-- <i class="list icon"></i> -->
				Create API Key
			</h2>
			<br>
			<%if(typeof api_key=='object'){%>
				<div class='ui success message'>
					<div class="content">
						<div class="header">
							New API key created
						</div>
						<p>You can now integrate Cashflowy app with other applications using this API key</p>
					</div>
				</div>
				<div class='ui segment'>
					<div class='ui header'>Details of the newly created API key:</div>
					<div class='ui divider'></div>
					<table class="ui very basic table" >
						<tbody>
							<tr>
								<td class='right aligned'>Name:</td>
								<td><%=api_key.name%></td>
							</tr>
							<tr>
								<td class='right aligned'>Key id:</td>
								<td><%=api_key.key%></td>
							</tr>
							<tr>
								<td class='right aligned'>Secret:</td>
								<td><%=api_key.secret%></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class='ui warning message'>
					<div class="content">
						<div class="header">
							Please copy above details
						</div>
						<p>The API secret will only shown now. It cannot be retrieved again. Please make sure you note the API secret.</p>
						<p>If you loose the API secret, you will have to generate a new API key</p>
					</div>
				</div>
				<a class='ui primary button' href="/org/<%=req.org.id%>/settings/apikeys">Proceed</a>
			<%}else{%>
				<form class="ui <%=form.state%> form " action="" method='post'>
					<!-- <h4 class="ui dividing header">Shipping Information</h4> -->
					<div class="two fields">
						<div class="required field">
							<label>Key Name</label>
							<input type="text" name="name" placeholder="Name of the key" value="">
						</div>	
						<div class="field">
							<label>Expiry date</label>
							<input type="date" name="expires_at" placeholder="expires_at" value="">
						</div>
					</div>
					
					<div class="field" style='display:none;' >
						<input type="text" name="referer"  value="<%=req.headers.referer%>">
					</div>
					<div class="ui error message">
						<div class="header">Error</div>
						<p><%=form.message%></p>
					</div>
					<input type="submit" class="ui button" value="Submit">
					<div class="ui success message">
							<div class="header">API Key created</div>
							You just created a new API Key
					</div>
				</form>
			<%}%>
			
		</div>
		<div class='sixteen wide tablet four wide computer sixteen wide mobile column'>
			
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.ui.form').form({
			fields: {
				name: 'empty',
			},
			onSuccess:function(e,fields){
				$(this).addClass('loading');
			},
		});
	})

</script>

