<%- include ('css_for_email') %>
<div class='ui container'>
	<div class='ui segment'>
		<p>Hi <%=user.name.split(' ')[0]%>,</p>
		<p>
			<%=req_user.name%> invited you to <%=org.name%> on Cashflowy.io.
		</p>
		<p>
			Describe what your app does, so that the person getting the invite does not feel lost.<br>
			<br>
			<a class='ui primary button' href="<%=url%>">Join <%=org.name%></a>
		</p>
		
		<p>
			<b>Instructions:</b><br/> 
			- This link requires login. <br/>
			- Login with the account linked to this email address. <br/>
			<%if(user.created_now){%>
			- We created an account for you(as part of this invite).<br/>
			- A random password is set for your account <br/>
			- You can reset password using <a href='<%=sails.config.app_url%>/forgot'>forgot password</a> incase you want to use email/password method to login<br/>
			- Login with google auth does not require password.<br/>
			<%}%>
		</p>
	</div>
</div>